<div *ngIf="user" class="container" style="margin: 20px 10% 0 10%; width: 80%; justify-content: center;">
  
  <div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
    <div style="display: flex; justify-content: left;">
      <a routerLink="/user-list" class="btn btn-primary" style="margin-right: 20px;"> Back to user list </a>
      <a routerLink="/file-upload"class="btn btn-primary" style="margin-right: 20px;">File Upload</a>
      <a routerLink="/user-list" class="btn btn-primary" style="margin-right: 20px;">Users List</a>
    </div>
  
    <br>
    <br>
  
    <div style="display: flex; justify-content: right;">
      <div *ngIf="(!isUserAuth())">
        <a routerLink="/auth-user" class="btn btn-primary" style="margin-right: 20px;"> Auth </a>
        <a routerLink="/add-user" class="btn btn-primary"> Registrate </a>
      </div>
      <div *ngIf="(isUserAuth())">
        <button *ngIf="(isUserAuth())" (click)="logout()" class="btn btn-primary"> Log Out </button>
      </div>
    </div>

  </div>
  <br>
  
    <h2>Edit User</h2>

    <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" class="mt-4">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name" [ngModel]="user.name">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" formControlName="age" [ngModel]="user.age">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email" [ngModel]="user.email">
      </div>
  
      <!-- edit only if it authorized user's page -->
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" formControlName="password" [ngModel]="user.password">
      </div>
      
      <br>
      <button type="submit" [disabled]="editUserForm.invalid" class="btn btn-success" style="margin-right: 20px;">Save</button>
      <button type="button" (click)="onDelete(user._id)" class="btn btn-danger" >Delete</button>
    </form>
  </div>
  