
<div *ngIf="user" class="container">
  <h2>User Info</h2>
  <br>
  
  <a href="user-list" class="btn btn-primary" style="margin-right: 20px;"> Back to user list </a>
    
  <a href="auth-user" class="btn btn-primary" style="margin-right: 20px;"> Auth </a>
  <a href="add-user" class="btn btn-primary" style="margin-right: 20px;"> Registrate </a>
  <!-- visible with jwt -->
  <a href="#" class="btn btn-primary" style="margin-right: 20px;"> Log Out </a>
  
  <br>
  <br>

  <p><strong>Name: {{ user.name }}</strong></p>
  <p>Age:{{ user.age }}</p>
  <p>Email:{{ user.email }}</p>
</div>
