<div *ngIf="user" class="container" style="margin: 20px 10% 0 10%; width: 80%; justify-content: center;">
  
  <div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
    <div style="display: flex; justify-content: left;">
      <a href="user-list" class="btn btn-primary" style="margin-right: 20px;"> Back to user list </a>
      <a href="/file-upload"class="btn btn-primary" style="margin-right: 20px;">File Upload</a>
      <a href="/user-list" class="btn btn-primary" style="margin-right: 20px;">Users List</a>
    </div>
  
    <br>
    <br>
  
    <div style="display: flex; justify-content: right;">
      <div *ngIf="(!isUserAuth())">
        <a href="auth-user" class="btn btn-primary" style="margin-right: 20px;"> Auth </a>
        <a href="add-user" class="btn btn-primary"> Registrate </a>
      </div>
      <div *ngIf="(isUserAuth())">
        <button *ngIf="(isUserAuth())" (click)="logout()" class="btn btn-primary"> Log Out </button>
      </div>
    </div>

  </div>
  <br>
  
  <h2>User Info</h2>
  <br>
  <br>

  <p><strong>Name: {{ user.name }}</strong></p>
  <p>Age:{{ user.age }}</p>
  <p>Email:{{ user.email }}</p>
</div>
